In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib.pyplot import plot as plot
import sys
sys.path.append("../")
from src.ferramentas import detect_file_encoding

In [21]:
print(detect_file_encoding("..\\data\\Customer_Flight_Activity.csv"))
print(detect_file_encoding("..\\data\\Customer loyalty History.csv"))

('utf_8', 0.0)
('utf_8', 0.0)

#### Download direto no kaggle por comandos 
* kaggle datasets download -d autor/dataset -p data/

In [25]:
df_flight = pd.read_csv("..\data\Customer_Flight_activity.csv", encoding='utf_8', sep=',')
df_membro = pd.read_csv("..\data\Customer loyalty History.csv", encoding='utf_8', sep=',')

In [28]:
df_flight.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [27]:
unique_values_column1 = df_membro['Enrollment Type'].unique()
unique_values_column2 = df_membro['Enrollment Year'].unique()

print(unique_values_column1)
print(unique_values_column2)

['Standard' '2018 Promotion']
[2016 2014 2013 2012 2015 2018 2017]

In [29]:
df_flight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [ ]:
df_flight.iloc[:,6].describe()

count    405624.000000
mean       1208.880059
std        1433.155320
min           0.000000
25%           0.000000
50%         488.000000
75%        2336.000000
max        6293.000000
Name: Distance, dtype: float64

#### Inicio com uma analise exploratoria nos atributos do dataset